
.page {
  max-width: 100%;
  margin: auto auto;
  background-color: #f5f5f5;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  font-family: "Hiragino Sans GB";
}
.content {
  position: absolute;
  width: 100%;
  top: 40px;
  bottom: 0;
  overflow: auto;
}
.iconfont {
  font-size: 24px;
  color: #fff;
}
.iconfont:active {
  opacity: 0.7;
}
.v-invalid {
  top: 8px;
  right: 15px;
  position: absolute;
}
.register {
  width: 96%;
  margin: 20px auto;
  height: 46px;
  line-height: 46px;
  border: 1px solid #d9d9d9;
  background-color: #47cfb9;
}
.register:active {
  border: 1px solid #ccc;
  background-color: #43ab9a;
}

.weui-btn[data-v-669f43be] {
  width: 80px;
  font-size: 12px;
  float: right;
  margin-left: 10px;
  height: 24px;
  line-height: 24px;
  margin-top: 3px;
}
.wran[data-v-669f43be] {
  border: 1px solid #e64340;
  margin-right: 15px;
  color: #e64340;
}
.wran[data-v-669f43be]:active {
  border: 1px solid #e48987;
  color: #e48987;
}
ul[data-v-669f43be],
li[data-v-669f43be] {
  margin-left: 20px;
  line-height: 30px;
}
.underline[data-v-669f43be],
li[data-v-669f43be] {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

header[data-v-6c0cbf9f] {
  height: 40px;
  background: -webkit-linear-gradient(left top, #47cfb9, #b8d950);
  background: linear-gradient(left top, #47cfb9, #b8d950);
}
header .login[data-v-6c0cbf9f],
header .signup[data-v-6c0cbf9f] {
  padding: 8px;
  font-size: 14px;
  float: right;
}
header .login[data-v-6c0cbf9f] {
  color: #00f;
}
header .signup[data-v-6c0cbf9f] {
  margin-right: 30px;
  color: #333;
}
header .search[data-v-6c0cbf9f] {
  width: 400px;
  max-width: 40%;
  float: left;
  background: #fff;
  height: 24px;
  margin: 8px 15px;
  border-radius: 5px;
}
header .search .weui-icon-search[data-v-6c0cbf9f] {
  float: left;
  padding: 0 5px;
}
header .search .weui-search-bar__input[data-v-6c0cbf9f] {
  height: 24px;
  border: none;
  width: 90%;
  float: left;
  outline: none;
}
.weui-form-preview__hd[data-v-6c0cbf9f] {
  background-color: #f3f3f3;
  height: 30px;
}
.weui-form-preview__hd .weui-btn[data-v-6c0cbf9f] {
  line-height: 30px;
}
.weui-form-preview__bd[data-v-6c0cbf9f] {
  border-bottom: 1px solid #f3f3f3;
  padding: 5px 15px;
  height: 30px;
}
.weui-form-preview__bd .weui-form-preview__item[data-v-6c0cbf9f] {
  margin-left: 15px;
}
.weui-form-preview__bd .weui-btn[data-v-6c0cbf9f] {
  line-height: 30px;
}

.page[data-v-33701ad9] {
  background: #fff;
  position: fixed;
  width: 100%;
  max-width: 800px;
  height: 100%;
}
.page .mui-content[data-v-33701ad9] {
  background: #fff;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.page .mui-content .logo[data-v-33701ad9] {
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
.weui-cells[data-v-33701ad9]:before {
  border-top: none;
}
.weui-cell[data-v-33701ad9]:before {
  left: 0;
}
.weui-cell_hd[data-v-33701ad9] {
  width: 20%;
}
.weui-cell_primary[data-v-33701ad9] {
  width: 80%;
}

.page[data-v-bdd5393a] {
  background: #fff;
  position: fixed;
  width: 100%;
  max-width: 800px;
  height: 100%;
}
.page .mui-content[data-v-bdd5393a] {
  background: #fff;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.page .mui-content .logo[data-v-bdd5393a] {
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
.weui-cells[data-v-bdd5393a]:before {
  border-top: none;
}
.weui-cell[data-v-bdd5393a]:before {
  left: 0;
}
.weui-cell_hd[data-v-bdd5393a] {
  width: 20%;
}
.weui-cell_primary[data-v-bdd5393a] {
  width: 80%;
}
